---
import { TextSection } from '@littlesticks/odyssey-theme-components';
import Layout from '../../layouts/Page.astro';
import HeroSection from '../../components/sections/heros/HeroSection.astro';
import { Container } from '@littlesticks/odyssey-theme-components';


const seo = {
	title: 'About | Liberated Logic',
	description: 'About Page',
};
---

<Layout {seo}>
	<HeroSection>
		<div slot="text-container">
			<h1>Welcome to Liberated Logic</h1>
			<p>
				Here at Liberated Logic we are dedicated to making your messaging experience one of a kind. Explore a world of effortless texting while making meaningful connections that last a lifetime.
			</p>


</div>
    <picture slot="image-container">
      <img
        src="/assets/images/home/classic-hero.jpg"
        alt="Astro Odyssee"
        id="home-hero-image"
      />
    </picture>
	</HeroSection>

<Container>
    <section class="hero-section__section">
		<div class="hero-section__text">
    <h1>Our Story</h1>
        <p>
	       Liberated Logic was founded in 2023 by a team of enthusiastic developers and designers who saw an opportunity to revolutionize the way global citizens interact with the world. Our mission is to break down barriers and bring people together through seamless and secure messaging experiences. We believe that communication knows no bounds, and our app is designed to empower individuals, families, and communities to connect effortlessly across the globe.
	</p>


     <section class="hero-section__section">
		<div class="hero-section__text">
    <h1>Our Approach</h1>
        <p>
		At Liberated Logic, we believe in optimizing communication while promoting positive online interactions. We prioritize user experience and strive to create intuitive and user-friendly interfaces.
			</p>



    <h3>Generative AI</h3>
  <p>
	We will guarantee you features that include Generative AI which will allow you to Communicate genuinely and expressively with the help of AI, reducing the time it takes for you to perfect a message.
			</p>


    <h3>Clean content, Safe community</h3>
 <p>
	We strive to promote positive online interactions while protecting users from harmful content and maintaining the integrity and trustworthiness of online communities
	</p>


    <h3>Revolutionize HR: Eliminating Overhead, Maximizing Impact!</h3>
<p>
	Optimize communication, streamline administrative tasks and enhance engagement while improving overall operational efficiency.
</p>


   <h3>Messages Wrapped</h3>
   <p>
	Identify your messaging personality by viewing a summary of your most used icons,stickers, and texts.
				</p>

 <section class="hero-section__section">
		<div class="hero-section__text">
    <h1>Our Vision</h1>

        <p>
		With a user-friendly interface and innovative features, Liberatd Logic is redefining how people communicate in the digital age.Our commitment to user privacy and data security ensures that every message exchanged on our platform remains confidential and protected. We strive to create a space where people can freely express themselves, share moments, and build meaningful relationships without hesitation.
				</p>

 <section class="hero-section__section">
		<div class="hero-section__text">
    <h1>Join our community</h1>
 <p>
	Join our vibrant community of users and enthusiasts to stay updated on the latest features, updates, and promotions.Thank you for choosing Liberated Logic. We appreciate your support and look forward to serving you better with each update.
        <p>


</Layout>


